.tree {
  background-color: #efefef;
  height: 100%;
  padding: 10px;
  margin: 0;
  font-family: monospace;
}

.root-list {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
}

.root-list > li:first-child {
  margin-top: 0;
}

.indentation-level-1,
.indentation-level-2,
.indentation-level-3,
.indentation-level-4 {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 0.5px;
  background-color: black;
}
.indentation-level-1 {
  left: 20px;
}

.indentation-level-2 {
  left: 58px;
}

.indentation-level-3 {
  left: 96px;
}

.indentation-level-4 {
  left: 134px;
}
